**\*\*\* Olá! \*\*\***

**Bem-vindo(a)(e) à resolução da Amanda Giacometti, aluna número 02 do DWE 2023.**

**Vamos começar? :)**

**Primeiramente vou "ativar" meu banco de dados, que é o DW\_02 e está dentro do servidor SQL com IP 20.83.31.31**

**É dentro dele que vamos trabalhar!**

In [80]:
IF NOT EXISTS (SELECT * FROM  sys.databases WHERE name='DW_02') CREATE DATABASE DW_02
GO
USE DW_02
GO

**Agora vou criar schemas para acomodar minhas tabelas:**

**Nota: A última letra está duplicada de propósito. Na minha database já havia schemas com o mesmo nome, de aulas anteriores. Para driblar isso, dupliquei a última letra.**

In [81]:
IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name='STAGINGG')
   EXEC('CREATE SCHEMA STAGINGG');
GO

IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name='SILVERR')
    EXEC('CREATE SCHEMA SILVERR');
GO

IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name='GOLDD')
    EXEC('CREATE SCHEMA GOLDD');
GO

IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name='LOGG')
    EXEC('CREATE SCHEMA LOGG');
GO

**Agora vou criar uma tabela de log. Ela é importante para nos auxiliar em caso de falhas.**

In [82]:
USE DW_02
GO

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='LOGG_CARGAS' AND xtype='U')

CREATE TABLE LOGG.LOGG_CARGAS
 (ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
 NUMERO_ERRO INT,
 SERVERIDADE_ERRO INT,
 ESTADO_ERRO  INT,
 PROC_ERRO NVARCHAR,
 LINHA_ERRO INT,
 MSG_ERRO NVARCHAR,
 SITUACAO NVARCHAR,
 PROCESSO NVARCHAR,
 DATA_INI DATETIME,
 DATA_FIM DATETIME  
 )

**Agora vou criar os stagings dos dados originais. Como são muitas categorias, eu agrupei da melhor forma que encontrei - ao mesmo tempo tentei manter um Star Schema, sem cair em um Snowflake.** 

**Abaixo, temos uma imagem que ilustra minha linha de raciocínio.**

**Nota 1: este nao é o Star Schema final do desafio!**

**Nota 2: eu escolhi propositalmente colocar "nomes" ao invés de números na tabela fato (por exemplo: "nome da unidade" ao invés de "código da unidade"). Fiz isso para que fique mais legível e intuitivo.**

**Nota 3: o comando "if not exists" estava dando erro para mim, só funcionou depois que tirei ele. Por isso está apenas como comentado no código.**


![](https://i.imgur.com/oPjyPyg.png)



**1 - STAGING "QUEM GASTOU?"**

In [124]:
USE DW_02
GO
--IF NOT EXISTS
  --(SELECT * FROM sysobjects WHERE name='STG_QUEMGASTOU_ERP' AND xtype='U')
CREATE TABLE [STAGINGG].[STG_QUEMGASTOU_ERP](
	
    [Código Órgão Superior] [int],
    [Nome Órgão Superior] [nvarchar], 
    [Código Órgão Subordinado] [int], 
    [Nome Órgão Subordinado] [nvarchar], 
    [Código Unidade Gestora] [int], 
    [Nome Unidade Gestora] [nvarchar],

PRIMARY KEY CLUSTERED 
(
	[Nome Unidade Gestora] ASC
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

: Msg 2714, Level 16, State 6, Line 5
There is already an object named 'STG_QUEMGASTOU_ERP' in the database.

**2 - STAGING "'DE ONDE TIROU' O DINHEIRO"**

In [96]:
USE DW_02
GO
--IF NOT EXISTS
  --(SELECT * FROM sysobjects WHERE name='STG_DEONDETIROU_ERP' AND xtype='U')
CREATE TABLE [STAGINGG].[STG_DEONDETIROU_ERP](
	
    [Código Gestão] [int],
    [Nome Gestão] [nvarchar], 
    [Código Unidade Orçamentária] [int], 
    [Nome Unidade Orçamentária] [nvarchar], 
    [Código Função] [int], 
    [Nome Função] [nvarchar], 
    [Código Subfução] [int], 
    [Nome Subfunção] [nvarchar], 
    [Código Programa Orçamentário] [int], 
    [Nome Programa Orçamentário] [nvarchar], 
    [Código Modalidade da Despesa] [int], 
    [Modalidade da Despesa] [nvarchar],

PRIMARY KEY CLUSTERED 
(
	[Nome Programa Orçamentário] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

: Msg 2714, Level 16, State 6, Line 5
There is already an object named 'STG_DEONDETIROU_ERP' in the database.

**3 - STAGING "MOTIVO DO GASTO"**

In [97]:
USE DW_02
GO
--IF NOT EXISTS
  --(SELECT * FROM sysobjects WHERE name='STG_MOTIVO_ERP' AND xtype='U')
CREATE TABLE [STAGINGG].[STG_MOTIVO_ERP](
	
    [Código Ação] [int],
    [Nome Ação] [nvarchar], 
    [Código Plano Orçamentário] [int], 
    [Plano Orçamentário] [nvarchar], 
    [Código Programa Governo] [int], 
    [Nome Programa Governo] [nvarchar], 
    [Código Subtítulo] [int], 
    [Nome Subtítulo] [nvarchar], 
    [Código Grupo de Despesa] [int], 
    [Nome Grupo de Despesa] [nvarchar], 
    [Código Elemento de Despesa] [int], 
    [Nome Elemento de Despesa] [nvarchar], 

PRIMARY KEY CLUSTERED 
(
	[Plano Orçamentário] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

: Msg 2714, Level 16, State 6, Line 5
There is already an object named 'STG_MOTIVO_ERP' in the database.

**4 - STAGING "LOCAL DO GASTO"**

In [98]:
USE DW_02
GO
--IF NOT EXISTS
  --(SELECT * FROM sysobjects WHERE name='STG_LOCAL_ERP' AND xtype='U')
CREATE TABLE [STAGINGG].[STG_LOCAL_ERP](
	
    [UF] [nvarchar],
    [Município] [nvarchar], 
    [Código Localizador] [int], 
    [Nome Localizador] [nvarchar], 
    [Sigla Localizador] [nvarchar], 
    [Descrição Complementar Localizador] [nvarchar], 
    [Código Autor Emenda] [int], 
    [Nome Autor Emenda] [nvarchar], 
    [Código Categoria Econômica] [int], 
    [Nome Categoria Econômica] [nvarchar], 

PRIMARY KEY CLUSTERED 
(
	[Nome Localizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

: Msg 2714, Level 16, State 6, Line 5
There is already an object named 'STG_LOCAL_ERP' in the database.

**Agora vamos criar a tabela fato desse star schema!**

**Nota: Em "ano e mês do lançamento" eu achei melhor não colocar o tipo \[date\], porque ele possui formato AAAA-MM-DD ... E os dados do governo estão apenas como AAAA-MM ... Então para não dar erro deixei como \[nvarchar\].**

In [108]:
USE DW_02
GO
--IF NOT EXISTS
  --(SELECT * FROM sysobjects WHERE name='STG_FATODASTAGING_ERP' AND xtype='U')
CREATE TABLE [STAGINGG].[STG_FATODASTAGING_ERP](

    [Ano e mês do lançamento] [nvarchar],
    [Nome Unidade Gestora] [nvarchar], 
    [Nome Programa Orçamentário] [nvarchar], 
    [Plano Orçamentário] [nvarchar], 
    [Nome Localizador] [nvarchar], 
    [Valor Empenhado (R$)] [decimal], 
    [Valor Liquidado (R$)] [decimal], 
    [Valor Pago (R$)] [decimal], 
    [Valor Restos a Pagar Inscritos (R$)] [decimal], 
    [Valor Restos a Pagar Cancelado (R$)] [decimal], 
    [Valor Restos a Pagar Pagos (R$)] [decimal], 

PRIMARY KEY CLUSTERED 
(
	[Ano e mês do lançamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

: Msg 2714, Level 16, State 6, Line 5
There is already an object named 'STG_FATODASTAGING_ERP' in the database.

: Msg 2714, Level 16, State 6, Line 32
There is already an object named 'STG_TESTE_ERP' in the database.

**Agora que já temos nossas tabelas criadas, vou trunca-las!**

In [1]:
USE DW_02
GO
TRUNCATE TABLE [LOGG].[LOGG_CARGAS]
GO
TRUNCATE TABLE [STAGINGG].[STG_QUEMGASTOU_ERP]
GO 
TRUNCATE TABLE [STAGINGG].[STG_DEONDETIROU_ERP]
GO 
TRUNCATE TABLE [STAGINGG].[STG_MOTIVO_ERP]
GO 
TRUNCATE TABLE [STAGINGG].[STG_LOCAL_ERP]
GO 
TRUNCATE TABLE [STAGINGG].[STG_FATODASTAGING_ERP]
GO

**Agora vou fazer a carga bulk nas minhas tabelas, que estão prontas para receber os dados.**

**1 - Na tabela "QUEM GASTOU":**

In [129]:
-- Primeiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_QUEMGASTOU_ERP]
FROM 'C:/DWE2023/desafio/fontes/202201_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Segundo arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_QUEMGASTOU_ERP]
FROM 'C:/DWE2023/desafio/fontes/202202_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Terceiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_QUEMGASTOU_ERP]
FROM 'C:/DWE2023/desafio/fontes/202203_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Visualizar:

select *  from [STAGINGG].[STG_QUEMGASTOU_ERP]

: Msg 4866, Level 16, State 8, Line 3
The bulk load failed. The column is too long in the data file for row 1, column 1. Verify that the field terminator and row terminator are specified correctly.

: Msg 7301, Level 16, State 2, Line 3
Cannot obtain the required interface ("IID_IColumnsInfo") from OLE DB provider "BULK" for linked server "(null)".

**2 - Na tabela "'DE ONDE TIROU' (o dinheiro)":**

In [113]:
-- Primeiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_DEONDETIROU_ERP]
FROM 'C:/DWE2023/desafio/fontes/202201_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Segundo arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_DEONDETIROU_ERP]
FROM 'C:/DWE2023/desafio/fontes/202202_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Terceiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_DEONDETIROU_ERP]
FROM 'C:/DWE2023/desafio/fontes/202203_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Visualizar:

select *  from [STAGINGG].[STG_DEONDETIROU_ERP]

: Msg 4866, Level 16, State 8, Line 3
The bulk load failed. The column is too long in the data file for row 1, column 1. Verify that the field terminator and row terminator are specified correctly.

: Msg 7301, Level 16, State 2, Line 3
Cannot obtain the required interface ("IID_IColumnsInfo") from OLE DB provider "BULK" for linked server "(null)".

**3 - Na tabela "MOTIVO DO GASTO":**

In [114]:
-- Primeiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_MOTIVO_ERP]
FROM 'C:/DWE2023/desafio/fontes/202201_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Segundo arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_MOTIVO_ERP]
FROM 'C:/DWE2023/desafio/fontes/202202_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Terceiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_MOTIVO_ERP]
FROM 'C:/DWE2023/desafio/fontes/202203_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Visualizar:

select *  from [STAGINGG].[STG_MOTIVO_ERP]

: Msg 4866, Level 16, State 8, Line 3
The bulk load failed. The column is too long in the data file for row 1, column 1. Verify that the field terminator and row terminator are specified correctly.

: Msg 7301, Level 16, State 2, Line 3
Cannot obtain the required interface ("IID_IColumnsInfo") from OLE DB provider "BULK" for linked server "(null)".

**4 - Na tabela "LOCAL DO GASTO":**

In [115]:
-- Primeiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_LOCAL_ERP]
FROM 'C:/DWE2023/desafio/fontes/202201_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Segundo arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_LOCAL_ERP]
FROM 'C:/DWE2023/desafio/fontes/202202_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Terceiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_LOCAL_ERP]
FROM 'C:/DWE2023/desafio/fontes/202203_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Visualizar:

select *  from [STAGINGG].[STG_LOCAL_ERP]

: Msg 4866, Level 16, State 8, Line 3
The bulk load failed. The column is too long in the data file for row 1, column 1. Verify that the field terminator and row terminator are specified correctly.

: Msg 7301, Level 16, State 2, Line 3
Cannot obtain the required interface ("IID_IColumnsInfo") from OLE DB provider "BULK" for linked server "(null)".

**5 - Na tabela Fato da staging:**

In [117]:
-- Primeiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_FATODASTAGING_ERP]
FROM 'C:/DWE2023/desafio/fontes/202201_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Segundo arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_FATODASTAGING_ERP]
FROM 'C:/DWE2023/desafio/fontes/202202_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Terceiro arquivo de excel do governo:

BULK INSERT
[DW_02].[STAGINGG].[STG_FATODASTAGING_ERP]
FROM 'C:/DWE2023/desafio/fontes/202203_Despesas.csv' 

WITH
(
    codepage='ACP', 
    DATAFILETYPE ='char', 
    fieldterminator='|',
    rowterminator='\n',
	maxerrors=0,
	fire_triggers,
    firstrow=2
)

-- Visualizar:

select *  from [STAGINGG].[STG_FATODASTAGING_ERP]

: Msg 4866, Level 16, State 8, Line 3
The bulk load failed. The column is too long in the data file for row 1, column 1. Verify that the field terminator and row terminator are specified correctly.

: Msg 7301, Level 16, State 2, Line 3
Cannot obtain the required interface ("IID_IColumnsInfo") from OLE DB provider "BULK" for linked server "(null)".

**Agora sim...**

**Schema staging completo, Vamos para o Schema silver!**

**Que é o que nos interessa e o que foi pedido :)**

**Essa foi minha maneira de organizar um star schema, de acordo com as categorias solicitadas.**

**Nota: a imagem tem um errinho. Na tabela verde (da direita) era para a linha "Nome Grupo de Despesa" estar grifada em amarelo!**

![](https://i.imgur.com/cX0qBTj.png)

**Vou criar minha primeira tabela dimensão, que vou chamar de "DIM\_QUEMGASTOU2":**

In [131]:
USE [DW_02]
GO
CREATE TABLE SILVERR.[DIM_QUEMGASTOU2](

    [Nome Órgão Superior] [nvarchar], 
    [Nome Órgão Subordinado] [nvarchar],
    [Nome Unidade Gestora] [nvarchar],

PRIMARY KEY CLUSTERED 
(
	[Nome Unidade Gestora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

: Msg 2714, Level 16, State 6, Line 3
There is already an object named 'DIM_QUEMGASTOU2' in the database.

**Vou criar minha segunda tabela dimensão, que vou chamar de "DIM\_DEONDETIROU2":**

In [133]:
USE [DW_02]
GO
CREATE TABLE SILVERR.[DIM_DEONDETIROU2](

    [Nome Gestão] [nvarchar], 
    [Nome Grupo de Despesa] [nvarchar],

PRIMARY KEY CLUSTERED 
(
	[Nome Grupo de Despesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

: Msg 2714, Level 16, State 6, Line 3
There is already an object named 'DIM_DEONDETIROU2' in the database.

> **Por fim vou criar minha tabela fato, que vou chamar de "FATO2". Ela estará no schema gold:**

In [135]:
USE [DW_02]
GO
CREATE TABLE GOLDD.FATO2
(

    [Ano e mês do lançamento] [nvarchar],
    [Nome Unidade Gestora] [nvarchar],
    [Nome Grupo de Despesa] [nvarchar],
    [Valor Empenhado (R$)] [decimal], 
    [Valor Liquidado (R$)] [decimal], 
    [Valor Pago (R$)] [decimal],

)
GO

: Msg 2714, Level 16, State 6, Line 3
There is already an object named 'FATO2' in the database.

**Foi até aqui que consegui chegar!**

**Na verdade eu cheguei a escrever vários outros códigos e ir além. Escrevi todo o código para fazer a carga de dados no meu schema silver, por exemplo. Porém estava dando erro e não tive tempo de consertar... Então achei que seria mais honesto parar por aqui mesmo.**

**Eu realmente queria ter chegado até o final, me empenhei muito para isso. Mas por outro lado também estou orgulhosa de todo meu esforço e de tudo que aprendi!!** 

**Vou continuar resolvendo esse desafio, mesmo depois do prazo final :)**

**\*\*\* Muito obrigada! \*\*\***